<!DOCTYPE html>
<html>
    <head>
        <title>Créer un nouvel article</title>
    </head>
    <body>
        <h1>Créer un nouvel article</h1>
        <form action="/article" method="post">
            <label>Titre : </label>
            <input type="text" name="titre" required></input>
            <label>Contenu : </label>
            <textarea type="text" name="contenu" required></textarea>
            <button type='submit'>Créer</button>
        </form>
        <br>
        <a href="/">Retour</a>
    </body>
</html>

